#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://grafana.com/docs/loki/latest/configuration/

auth_enabled: {{ loki_config_auth_enabled }}

server:
  {{ loki_config_server | to_nice_yaml(indent=2) | indent(2, False) }}


ingester:
  {{ loki_config_ingester | to_nice_yaml(indent=2) | indent(2, False) }}


schema_config:
  {{ loki_config_schema_config | to_nice_yaml(indent=2) | indent(2, False) }}


storage_config:
  {{ loki_config_storage_config | to_nice_yaml(indent=2) | indent(2, False) }}


compactor:
  {{ loki_config_compactor | to_nice_yaml(indent=2) | indent(2, False) }}


limits_config:
  {{ loki_config_limits_config | to_nice_yaml(indent=2) | indent(2, False) }}


chunk_store_config:
  {{ loki_config_chunk_store_config | to_nice_yaml(indent=2) | indent(2, False) }}


table_manager:
  {{ loki_config_table_manager | to_nice_yaml(indent=2) | indent(2, False) }}


ruler:
  {{ loki_config_ruler | to_nice_yaml(indent=2) | indent(2, False) }}
